/.vscode
/allmine.mp3
/bublesort.py
/exerc1.py
/exerc10
/exerc11
/exerc12
/exerc13
/exerc14
/exerc15
/exerc16
/exerc17
/exerc18
/exerc19
/exerc2
/exerc20
/exerc21
/exerc22
/exerc23
/exerc24
/exerc25
/exerc26
/exerc27
/exerc28
/exerc29
/exerc3
/exerc30
/exerc31
/exerc32
/exerc33
/exerc34
/exerc35
/exerc36
/exerc37
/exerc38
/exerc39
/exerc4
/exerc40
/exerc41
/exerc42
/exerc43
/exerc44
/exerc45
/exerc46
/exerc47
/exerc48
/exerc49
/exerc5
/exerc50
/exerc51
/exerc52
/exerc53
/exerc54
/exerc55
/exerc56
/exerc57
/exerc58
/exerc59
/exerc6
/exerc60
/exerc61
/exerc62
/exerc63
/exerc64
/exerc65
/exerc66
/exerc67
/exerc68
/exerc69
/exerc7
/exerc70
/exerc71
/exerc8
/exerc9
/FilosofoThread.py
/Grafos
/GrauNoPonderado.py
/JantarFilosofos.py
/joao1.py
/joao2.py
/PageRank.py
/trabalho.py